.heading{
    font-size: 23px;
    color: white;
    margin: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
}

.note{
    color: black;
    font-size: 15px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    line-height: 3;
    width: 100%;
    color: white;
    background-color: grey;
    text-align: center;
}

canvas{
    border: 5px solid white;
box-shadow: 5px 5px 5px grey;
border-radius: 20px;
}